<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo v-model e v-if</title>
</head>
<body>
    
    <div id="app">
        <!-- v-model altera o valor de um dado js -->
        <input type="text" v-model="textDigitado">
        {{textDigitado}}
        <br><br>
        <div v-if="textDigitado == 1">
            <img :src="srcImg1" width="100px">
        </div>
        <div v-else-if="textDigitado == 2">
            <img :src="srcImg2" width="100px">
        </div>
        <div v-else>
            <img :src="srcImg3" width="200px">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                textDigitado: '',
                srcImg1: 'img/vuelogo1.png',
                srcImg2: 'img/vuelogo2.jfif',
                srcImg3: 'img/vuelogo3.jfif'
            }
        })
    </script>
</body>
</html>