<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo a utilizar v-for</title>
</head>
<body>
    
    <div id="app">
        <div v-for="imagem in imagens">
            <img :src="imagem" width="100">
        </div>

        <br>
        <div v-for="(fruta, index) in frutas"> 
            {{index}} - {{fruta.nome}} / {{fruta.cor}}
        </div>
       
        <ul>
            <li v-for="(usuario, key, index) in usuarios">
                {{index}} - <b>{{key}}</b>: {{usuario}}
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                imagens: ['img/vuelogo1.png', 'img/vuelogo2.jfif', 'img/vuelogo3.jfif'],
                frutas: [{nome: 'Pera', cor: 'Verde'},
                {nome: 'Uva', cor: 'Roxa'}, {nome: 'Maca', cor: 'Vermelha'}],
                usuarios:{
                    nome: 'Victor',
                    telefone: '1231-1231',
                    email: 'vi@gmail.com'
                }
            }
        })
    </script>
</body>
</html>